.container {
    width: 780px;
    margin: auto;
    font-family: 'Century Gothic', calibri, tahoma, sans-serif;
    font-size: 16px;
    /* display: block; */
    color: #fff;
    background: #000;
     
}

.header, .footer, .nav-bar{
    flex-basis: 100%; 
    
}
.section{
    display: flex;
    flex-wrap: wrap;
    
       
}
.S1{
    flex-basis: 80%;
}
.S2{
    flex-basis: 20%;
    flex-wrap: wrap;
}
.S3{
    flex-basis: 100%;
}
