 /* Police importée ----------------------------------------------- */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* ---------------------------------------------------------------- */
 /* General */
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}
span{
    font-weight: 600;
}
a{
    margin:0;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    display: block;
}

ul{
    list-style: none;
}
/* -------------------------------------------------------- */
/* header */

header ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -14px;
}
header li{
    padding: 20px;
}

header li:first-child {
    flex-grow: 1;
   
 }
.active{ 
    border-top :3px solid #0065FC;
}
.active a{color:  #0065FC;font-weight: 500;}
header li:last-child a{color:  #0065FC;font-weight: bold;}
footer {
    background-color: chartreuse;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 375px){
header ul{
    flex-direction: column;
}
}


@media screen and (min-width: 375px)and (max-width: 460px){
    
     header li:first-child {
        margin-right: 35%;
     }
    header li:first-child{order: -2;}
    header li:last-child{order: -1;}
    header li:nth-child(2){
        
        padding: 20px 52px;
        margin-right: 1px;
        border-bottom: 3px solid #0065FC;
    }
    header li:nth-child(3){
        
        padding: 20px 63px;
        margin-right: 1px;
        border-bottom: 3px solid #F2F2F2;  
    }
   
    .active{ border-top: 0;}
}
@media screen and (min-width: 461px) and (max-width: 900px){
    
    header ul{
        justify-content: space-around;
    }
}

