 /* Police importée ----------------------------------------------- */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* ---------------------------------------------------------------- */
 /* General */
*{margin: 0;padding: 0}
html{font-family: 'Raleway', sans-serif;font-size: 62.5%}
span{font-weight: 600}
a{margin:0;text-decoration: none;color: black;font-size: 1.3rem;display: block;}
ul{list-style: none;}
h1{font-size: 1.8rem;padding: 1em 0 1em 1em;}
p{padding-left: 1em;padding-bottom:3em; font-size: 1.3em;}
i{font-size: 1.5em;}
article{background-color: white;border-radius: 1em;margin-left: 0;box-shadow: 0.1em 0.2em 0.8em #F2F2F2}
i{font-size: 1rem;color: #0065FC ;}
.star{color: #F2F2F2}
/* -------------------------------------------------------- */
/* header */
header{with :96%}
.menu {width: 100%;margin: auto;}
header ul{display: flex;align-items: center;flex-wrap: wrap;justify-content: flex-start}
header li{padding: 2em}
header li:first-child {flex-grow: 1}
.active{border-top :.3em solid #0065FC}
.active a{color:  #0065FC;font-weight: 500;}
header li:last-child a{color:  #0065FC;font-weight: bold;}

/* --------------------------------------------------------------- */
/* MAIN ---------------------------------------------------------- */
main{width: 96%;display: flex;flex-wrap: wrap;justify-content: center;}
main img {width: 100%;}
/* FORM  --------------------------------------------------------- */
form{width: 96%;order:1}
#btn-1{margin-left: 1em;width: 3em;height: 3em;border-radius: 1em 0 0 1em;border: 0}
input{margin-left: -.3em;padding: 0 .6em;height: 3em;border: .2em solid #F2F2F2;font-weight: 600;cursor: text}
#btn-2{
        margin-left: -.4em;
        width: 9em;
        height: 3em;
        border-radius: 0 1em 1em 0;
        border: 0;
        background-color: #0065FC ;
        font-weight: 600;
        cursor: pointer;
}
#btn-2::after {content: "Recherche";color: white}
.dispo{padding-top: 0.4em}
.dispo::before{
    font-family: "Font Awesome 5 Free";
    content: "\f129";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    color: #0065FC;
    font-size: 1em;
    border-radius: 50%;
    padding: .6em 0.8em;
    background-color: white;
    border: .1em solid #F2F2F2;
    margin-right: .4em;
}
    

/* FILTRE ------------------------------------------------------- */
.boutons {display: flex;padding: 1em;width: 80%;flex-wrap: wrap}
.boutons h2{width: 100%;padding-bottom: 2em;}
.boutons i{ 
    background-color: #DEEBFF;
    border-radius: 50% ;
    padding: 1.5em;
    margin-right: 1em;
    color: #0065FC ;
    margin-left: -.3em;
} 
.boutons a {
    background-color: white; 
    height: 3em; 
    padding-right: 1em ; 
    border-radius: 2em;
    margin: 0 1em 1em 0;
    border: .2em solid #F2F2F2 ;
    font-weight: 700;
    -webkit-transition: width 2s, height 2s, transform 1s;;
        -moz-transition: width 2s, height 2s, transform 1s;;
         -ms-transition: width 2s, height 2s, transform 1s;;
          -o-transition: width 2s, height 2s, transform 1s;;
             transition: width 2s, height 2s, transform 1s;;
}
.boutons a:hover{transform: rotate(360deg);}
/* --------------------------------------------------------------- */
/* populaire --------------------------------------------- */
aside{align-items: center;background-color: #F2F2F2;min-width: 29%;order: 3;border-radius: 2em}
aside article{display: flex;max-width: 22em;height: 8.7em ;margin: 2% auto}
aside h2{margin: 1em ;font-size: 1.8em;}
aside h3{font-size: 1.1em;padding-top: 1em;}
aside  h2::after{
    font-family: "Font Awesome 5 Free";
    content: "\f201";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    margin-left: 4.3em
}
aside article img{max-width:9em ;height:8em;padding: 0.3em;border-radius: 1em 0 0 1em}
aside ul {margin-left: 1em;font-size: 1em;}
aside ul li:nth-child(2){padding: .5em 0 1.5em 0}

/* ------------------------------------------------------- */

.hebergement {
    display: flex;
    flex-wrap: wrap; 
    background-color: #F2F2F2;
    width: 62%;
    order: 2;
    border-radius: 2em;
    justify-content: center; 
}

.hebergement h2{width: 100%;}

.hebergement article{
        background-color: white;
        width: 17em;
        height: 14em;
        border-radius: 10%;
        margin: 0.5em;
}
.hebcard img{
    width: 98%;
    height: 60%;
    border-radius: 10% 10% 0 0;
    padding: 1%;
}
.hebcard li{padding: 0.2em 1.5em;}
.hebergement h4{width: 100%;padding: 2em ;}

/* --------------------------------------------------------------- */
/* activités */

.activites {
    display: flex;
    flex-wrap: wrap; 
    background-color: #F2F2F2; 
    order: 4;
    border-radius: 2em;
    margin-left: 2%;
    justify-content: center;
}
.activites article{
    background-color: white;
    width: 19.5em;
    border-radius: 1em;
    margin: 1em;
}
#art1,#art4{height: 28em;}
#art2{height: 14em;}
#art2 img{height: 78%;} 
#art3{height: 11em;margin-top: 3em;}
#art3 img{height: 75%;} 
#art5{height: 12em}
#art5 img{height: 75%;} 
#art6{height: 14em;margin-top: 3em;}
#art6 img{height: 75%;} 
.activites h3{margin-left: 1em;}
.activites img{
    width: 100%;
    height: 90%;
    border-radius: 1em 1em 0 0;
    margin-bottom: .5em;
}

.activites h2{width: 100%;}


/* --------------------------------------------------------------- */
footer {
    background-color: chartreuse;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 375px){
header ul{
    flex-direction: column;
}
}


@media screen and (min-width: 375px)and (max-width: 480px){
    /* header */
    header li:first-child {margin-right: 35%}     
    header li:first-child{order: -2;}
    header li:last-child{order: -1;}
    header li:nth-child(2){padding: 2em 5.1em;margin-right: .4em;border-bottom: .3em solid #0065FC}
    header li:nth-child(3){padding: 2em 6.1em;margin-right: .4em;border-bottom: .3em solid #F2F2F2}
    .active{ border-top: 0;}
    /* ------------------------------------------------------------------------------------------------ */

    /* main */
    /* form */
    #btn-2::after {
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        color: white}
   
    #btn-2{
        margin-left: -1em;
        width: 3em;
        height: 3em;
        border-radius: 1em;
        border: 0;
        background-color: #0065FC ;
    }
    /* ------------------------------------------------------- */
/* populaire */
aside {order:2;border-radius: 0;
    width: 100%;
}
aside  h2::after{margin-left: 6.8em;}
/* hebergement */
.hebergement{order: 3;width: 100%;background-color: white;}
}
@media screen and (min-width: 481px) and (max-width: 900px){
    
    header ul{
        justify-content: space-around;
    }
    header li:first-child {flex-grow: 0}
}

